.pd-evento{
    &__card{
        background-color: #fff;
        border-radius: 1rem;
        padding: 1.5rem;
    }

    &__video iframe{
        border-radius: 1rem;
    }

    &__fotos{
        width: 100%;
        height: auto;
    }

    &__wrapper-fotos{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000;
    }

	&__badge-wrapper-col{
		margin-top: -1.25rem;
	}

	&__badge-wrapper{
		display: inline-block !important;
	}

	&__badge-wrapper p{
		display: inline-block !important;
		font-size: 1.5rem;
	}

	&__badge-wrapper:hover .badge{
		background-color: $primary !important;
	}
}