.paradeportista{
	&__card{
		background-color: #fff;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border-radius: 1rem;
		padding: 2rem;
	}

	&__card--img{
		background-color: #fff;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border-radius: 1rem;
		padding: 0;
		overflow: hidden;
	}

	&__img{	
		aspect-ratio: 1;
		object-fit: cover;
	}

	&__bandera{
		clip-path: circle();
		width: 80px;
		height: auto;
		margin-left: -1rem;
	}

	&__social-icons-container{
		margin: 1.5rem 0;
		display: flex;
		gap: 1.5rem;
	}

	&__social-icons-img{
		height: 40px;
		width: auto;
	}

	&__deporte-logo{
		padding: 5px;
		border-radius: 10px;
		width: 35px;
		height: auto;
		margin-right: 9px;
	}
}