.pd-hero-banner{
	&__wrapper{
		background-image: linear-gradient(170deg,var(--global-palette1,#0046e2) 0%,var(--global-palette2,#26d179) 100%);
	}
    &__row{
        align-items: center;
        min-height: 250px;
    }
}